Repository vbenjs/vue-vben-admin, pull requests merged in 2024-10, with the labels that each got.

#4551 perf: [antd] default placeholder for input and select components
  apps/web-antd/src/adapter/form.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/adapter/form.ts
  playground/src/views/examples/form/basic.vue
Labels: perf

#4550 feat: add form field autofocus configuration
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Labels: enhancement

#4558 fix: fixed an error in the form onChange within Naive
  apps/web-antd/src/adapter/form.ts
  apps/web-ele/src/adapter/form.ts
  apps/web-naive/src/adapter/form.ts
  apps/web-naive/src/router/routes/modules/demos.ts
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/vben-form.vue
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/adapter/form.ts
  pnpm-lock.yaml
Labels: bug

#4559 feat: add examples of asynchronous form verification and verification time
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  playground/src/views/examples/form/rules.vue
Labels: feature

#4560 fix: try to fix the error reported by the stub command in the window system
  docs/src/en/guide/essentials/development.md
  docs/src/guide/essentials/development.md
  package.json
  scripts/turbo-run/src/run.ts
  turbo.json
Labels: bug

#4567 fix: when the server component path is wrong, a blank interface is still displayed
  packages/effects/layouts/src/basic/content/content.vue
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Labels: bug

#4569 fix: naive ui form reset does not meet expectations
  apps/web-antd/src/api/core/auth.ts
  apps/web-ele/src/api/core/auth.ts
  apps/web-naive/src/adapter/form.ts
  apps/web-naive/src/api/core/auth.ts
  packages/@core/ui-kit/form-ui/src/config.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/effects/common-ui/src/ui/authentication/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  packages/stores/src/modules/user.ts
  packages/utils/src/index.ts
  playground/src/api/core/auth.ts
Labels: bug

#4573 fix: improve the layout of tables offline on the mobile
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/effects/plugins/src/vxe-table/theme.css
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/locales/langs/zh-CN.json
Labels: bug

#4574 fix: the vxeUI global configuration does not take effect
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Labels: bug

#4577 fix(@vben/plugins/vxe-table): after resetting the search, the parameters still exist
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: bug

#4579 refactor: adjust layout refresh button and watermark; allow static i18n on language switch
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/layouts/basic.vue
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/layouts/basic.vue
  apps/web-naive/src/router/guard.ts
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/components/widgets/index.ts
  packages/@core/ui-kit/tabs-ui/src/components/widgets/tool-refresh.vue
  packages/effects/hooks/src/use-watermark.ts
  packages/effects/layouts/src/basic/README.md
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/layouts/basic.vue
  playground/src/router/guard.ts
Labels: perf

#4582 feat: useVxeTable returns formApi instance
  packages/@core/ui-kit/form-ui/src/index.ts
  packages/effects/plugins/src/vxe-table/api.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: enhancement

#4585 fix: table internal search collspaed configuration does not take effect
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/use-vben-form.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  packages/effects/plugins/src/vxe-table/use-vxe-grid.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/form.vue
Labels: bug

#4587 fix: remove the extra separator when the user dropdown menu is empty.
  packages/effects/layouts/src/widgets/user-dropdown/user-dropdown.vue
Labels: bug

#4590 fix: fix the form-api reactive failure inside the form
  packages/effects/plugins/package.json
  packages/effects/plugins/src/vxe-table/formatter.ts
  packages/effects/plugins/src/vxe-table/init.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/custom-cell.vue
  playground/src/views/examples/vxe-table/edit-cell.vue
  playground/src/views/examples/vxe-table/edit-row.vue
  playground/src/views/examples/vxe-table/fixed.vue
  playground/src/views/examples/vxe-table/form.vue
  playground/src/views/examples/vxe-table/remote.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: bug

#4595 fix(docs): typo
  docs/src/guide/introduction/thin.md
Labels: documentation

#4596 fix: fix request not displaying interface error messages correctly
  apps/backend-mock/utils/response.ts
  apps/web-antd/src/api/request.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/request.ts
  docs/src/en/guide/essentials/server.md
  docs/src/guide/essentials/server.md
  packages/effects/request/src/request-client/preset-interceptors.ts
  playground/src/api/request.ts
  playground/src/views/examples/vxe-table/remote.vue
Labels: bug

#4600 chore: correct spelling for 'dragable'
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
  packages/@core/ui-kit/tabs-ui/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/use-tabs-drag.ts
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
Labels: chore

#4607 fix: when a table switches paging, no form parameters will be carried
  packages/effects/layouts/src/widgets/preferences/blocks/layout/copyright.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/footer.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/header.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/sidebar.vue
  packages/effects/plugins/src/vxe-table/extends.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/basic.vue
  playground/src/views/examples/vxe-table/fixed.vue
  playground/src/views/examples/vxe-table/form.vue
Labels: bug

#4622 chore: modify the type of the incoming function in the vite configuration
  internal/vite-config/src/typing.ts
Labels: chore

#4636 fix: default theme colors cannot be overridden
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/update-css-variables.ts
Labels: bug

#4647 fix: fix the issues with the local build docker script
  package.json
  scripts/deploy/Dockerfile
  scripts/deploy/build-local-docker-image.sh
Labels: chore

#4652 fix: tabView title internationalization switchover problem
  packages/stores/src/modules/tabbar.ts
Labels: bug

#4655 fix: login page brand color does not take effect
  packages/effects/layouts/src/widgets/color-toggle.vue
Labels: bug

#4658 chore: variables typo
  internal/vite-config/src/config/index.ts
Labels: chore

#4659 feat: limit the drag range of tabs, fixed #4640
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/use-tabs-drag.ts
Labels: bug

#4668 fix: form required style adjustment
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form-label.vue
  packages/effects/layouts/src/authentication/authentication.vue
Labels: bug

#4670 feat: add submitOnEnter configuration to form
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/components/form-actions.vue
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/src/types.ts
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/vxe-table/form.vue
Labels: enhancement

#4674 fix: maximum call stack size
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/reactivity.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/basic/layout.vue
  pnpm-lock.yaml
Labels: bug

#4679 perf: improved exception handling when request status code is 200
  apps/web-antd/src/api/request.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/request.ts
  docs/src/en/guide/essentials/server.md
  docs/src/guide/essentials/server.md
  playground/src/api/request.ts
Labels: bug

#4680 fix: form does not take effect in vertical layout
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Labels: bug

#4687 feat: menu supports carrying default query
  apps/backend-mock/api/auth/login.post.ts
  apps/backend-mock/utils/response.ts
  apps/web-antd/src/api/request.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/request.ts
  docs/src/components/common-ui/vben-modal.md
  docs/src/en/guide/essentials/server.md
  docs/src/guide/essentials/route.md
  docs/src/guide/essentials/server.md
  packages/@core/base/typings/src/vue-router.d.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/effects/layouts/src/basic/menu/use-navigation.ts
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/stores/src/modules/tabbar.ts
  playground/src/api/request.ts
  playground/src/locales/langs/en-US/demos.json
  playground/src/locales/langs/zh-CN/demos.json
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/menu-query/index.vue
Labels: feature

#4689 fix: downgrade the sass version to suppress the warnings
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: chore

#4693 fix: vite-config warmup config
  internal/vite-config/src/config/application.ts
Labels: bug

#4691 fix: fix the issue of Textarea not being able to wrap lines in the form
  packages/@core/ui-kit/form-ui/src/vben-use-form.vue
Labels: bug

#4694 perf: adjustment of auth form spelling errors, type adjustment, closer to actual development
  apps/web-antd/src/locales/langs/zh-CN/page.json
  apps/web-antd/src/store/auth.ts
  apps/web-antd/src/views/_core/authentication/code-login.vue
  apps/web-antd/src/views/_core/authentication/forget-password.vue
  apps/web-antd/src/views/_core/authentication/register.vue
  apps/web-ele/src/locales/langs/zh-CN/page.json
  apps/web-ele/src/store/auth.ts
  apps/web-ele/src/views/_core/authentication/code-login.vue
  apps/web-ele/src/views/_core/authentication/forget-password.vue
  apps/web-ele/src/views/_core/authentication/register.vue
  apps/web-naive/src/locales/langs/zh-CN/page.json
  apps/web-naive/src/store/auth.ts
  apps/web-naive/src/views/_core/authentication/code-login.vue
  apps/web-naive/src/views/_core/authentication/forget-password.vue
  apps/web-naive/src/views/_core/authentication/register.vue
  docs/src/guide/in-depth/access.md
  packages/constants/src/core.ts
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/index.ts
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/qrcode-login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/common-ui/src/ui/authentication/types.ts
  packages/effects/layouts/src/widgets/lock-screen/lock-screen-modal.vue
  playground/src/locales/langs/zh-CN/page.json
  playground/src/store/auth.ts
  playground/src/views/_core/authentication/code-login.vue
  playground/src/views/_core/authentication/forget-password.vue
  playground/src/views/_core/authentication/register.vue
  playground/src/views/demos/access/button-control.vue
  playground/src/views/demos/access/index.vue
Labels: perf

#4695 chore: use pnpm manage package these files will not be generated
  internal/node-utils/src/monorepo.ts
Labels: chore

#4696 fix: fix known issues with the form
  .github/release-drafter.yml
  apps/web-antd/src/views/_core/authentication/register.vue
  apps/web-ele/src/views/_core/authentication/register.vue
  apps/web-naive/src/views/_core/authentication/register.vue
  packages/@core/base/design/src/css/global.css
  packages/@core/ui-kit/form-ui/src/form-render/expandable.ts
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form-label.vue
  packages/@core/ui-kit/shadcn-ui/src/components/expandable-arrow/expandable-arrow.vue
  packages/effects/common-ui/src/ui/about/about.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  playground/src/router/routes/modules/examples.ts
  playground/src/views/_core/authentication/register.vue
Labels: bug

#4697 feat(@vben/request): export basic HttpResponse generic
  packages/effects/request/src/request-client/modules/downloader.ts
  packages/effects/request/src/request-client/types.ts
Labels: chore

#4731 fix: path '/auth' is blank page
  apps/web-antd/src/router/routes/core.ts
  apps/web-ele/src/router/routes/core.ts
  apps/web-naive/src/router/routes/core.ts
  playground/src/router/routes/core.ts
Labels: perf

#4732 feat: table grid supports setting title and helpMessage
  apps/web-antd/src/adapter/vxe-table.ts
  apps/web-ele/src/adapter/vxe-table.ts
  apps/web-naive/src/adapter/vxe-table.ts
  internal/node-utils/package.json
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/effects/plugins/src/vxe-table/theme.css
  packages/effects/plugins/src/vxe-table/types.ts
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/adapter/vxe-table.ts
  playground/src/views/examples/vxe-table/basic.vue
  playground/src/views/examples/vxe-table/remote.vue
  playground/src/views/examples/vxe-table/tree.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: feature

#4746 feat: allow configuration of staticRroues
  apps/web-antd/src/router/guard.ts
  apps/web-antd/src/router/routes/index.ts
  apps/web-ele/src/router/guard.ts
  apps/web-ele/src/router/routes/index.ts
  apps/web-naive/src/router/guard.ts
  apps/web-naive/src/router/routes/index.ts
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
  playground/src/router/guard.ts
  playground/src/router/routes/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: feature

#4748 docs: typo
  docs/src/guide/introduction/quick-start.md
Labels: chore

#4765 chore: add vxe-table toolbar example
  internal/node-utils/package.json
  internal/node-utils/src/index.ts
  package.json
  packages/effects/plugins/src/vxe-table/init.ts
  packages/effects/plugins/src/vxe-table/theme.css
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
  playground/src/views/examples/vxe-table/remote.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: feature
