Repository vbenjs/vue-vben-admin, pull requests merged in 2024-09, with the labels that each got.

#4297 fix: the fixedbutton changes state and the view cannot scroll
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Labels: bug

#4298 fix(@vben/web-ele): fixed some style issues in dark mode
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  packages/@core/ui-kit/layout-ui/src/components/layout-content.vue
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/index.ts
  packages/effects/hooks/src/use-design-tokens.ts
  packages/effects/layouts/src/basic/content/content-spinner.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/toggle-item.vue
  playground/src/router/routes/modules/examples.ts
Labels: bug

#4303 chore(@vben-core/tabs-ui): cancel drag and drop function on mobile de…
  packages/@core/ui-kit/tabs-ui/src/use-tabs-drag.ts
Labels: bug

#4312 chore: the sidebar title is not displayed in mobile mode
  packages/effects/layouts/src/basic/layout.vue
Labels: bug

#4315 docs: fix the text (#4309)
  docs/src/en/guide/in-depth/features.md
  docs/src/guide/in-depth/features.md
Labels: documentation

#4324 fix: improve the lock-screen password validation logic
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
Labels: bug

#4335 fix: resolve lint fail
  packages/effects/layouts/src/widgets/global-search/search-panel.vue
Labels: bug

#4276 feat: tanstack query demos
  playground/package.json
  playground/src/bootstrap.ts
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/vue-query/index.vue
  playground/src/views/demos/features/vue-query/infinite-queries.vue
  playground/src/views/demos/features/vue-query/paginated-queries.vue
  playground/src/views/demos/features/vue-query/query-retries.vue
  playground/src/views/demos/features/vue-query/typing.ts
  pnpm-lock.yaml
Labels: feature

#4362 fix(@vben/docs): build failed on windows
  docs/.vitepress/config/plugins/demo-preview.ts
Labels: bug

#4364 fix: text overflow when text omission component width is lower than maxWidth
  packages/effects/common-ui/src/components/ellipsis-text/ellipsis-text.vue
Labels: bug

#4357 perf: update menu icons
  apps/web-antd/src/router/routes/modules/dashboard.ts
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-ele/src/router/routes/modules/dashboard.ts
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-naive/src/router/routes/modules/dashboard.ts
  apps/web-naive/src/router/routes/modules/vben.ts
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/icons/src/svg/icons/antdv-logo.svg
  packages/icons/src/svg/index.ts
  playground/src/router/routes/modules/dashboard.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/router/routes/modules/vben.ts
Labels: perf

#4367 fix: vue received a Component that was made a reactive object
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/reactivity.ts
  packages/@core/ui-kit/tabs-ui/package.json
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/basic/menu/menu.vue
  pnpm-lock.yaml
Labels: bug

#4381 fix: try to fix the ci error
  apps/web-antd/src/views/_core/authentication/login.vue
  apps/web-ele/src/views/_core/authentication/login.vue
  apps/web-naive/src/views/_core/authentication/login.vue
  packages/locales/src/langs/zh-CN.json
  playground/src/views/_core/authentication/login.vue
  turbo.json
Labels: chore

#4391 fix: improve the dialog and drawer scrollbar experience, fix internal click failure problems and warnings
  packages/@core/base/design/src/css/global.css
  packages/@core/base/shared/src/utils/dom.ts
  packages/@core/composables/src/index.ts
  packages/@core/composables/src/use-scroll-lock.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/@core/ui-kit/shadcn-ui/build.config.ts
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  pnpm-lock.yaml
  scripts/turbo-run/src/run.ts
Labels: bug

#4392 chore: chore(deps): bump pinia-plugin-persistedstate from 3.2.3 to 4.0.1
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  cspell.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/eslint-config/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/typings/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/stores/package.json
  packages/stores/src/modules/access.ts
  packages/stores/src/modules/lock.ts
  packages/stores/src/modules/tabbar.ts
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  pnpm-lock.yaml
Labels: chore

#4393 chore: bump vue-i18n from 9.14.0 to 10.0.1
  internal/vite-config/package.json
  packages/locales/package.json
  playground/src/router/routes/modules/demos.ts
  pnpm-lock.yaml
Labels: chore

#4389 refactor: refactor code structure and improve demo page
  packages/effects/common-ui/src/components/captcha/captcha-card.vue
  packages/effects/common-ui/src/components/captcha/index.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  packages/effects/common-ui/src/components/captcha/types.ts
  packages/effects/common-ui/src/components/captcha/utils.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/views/examples/captcha/index.vue
Labels: enhancement, perf

#4404 chore: fix ci
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
  packages/utils/src/helpers/__tests__/generate-menus.test.ts
Labels: chore

#4405 fix: the brand color setting does not take effect
  packages/@core/base/shared/src/color/generator.ts
  packages/@core/base/shared/src/utils/__tests__/window.test.ts
  packages/@core/preferences/src/update-css-variables.ts
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
  packages/stores/src/modules/lock.test.ts
  packages/stores/src/modules/tabbar.test.ts
  packages/stores/src/modules/user.test.ts
  packages/utils/src/helpers/__tests__/generate-menus.test.ts
  playground/src/preferences.ts
  playground/src/views/demos/features/login-expired/index.vue
Labels: bug

#4406 fix: when the form is opened repeatedly, the state is unexpectedly stroyed
  packages/@core/ui-kit/form-ui/src/form-api.ts
  playground/src/views/examples/modal/form-model-demo.vue
Labels: bug

#4407 perf: display border status color when the form is verified incorrectly
  .dockerignore
  .vscode/settings.json
  docs/.vitepress/config/plugins/demo-preview.ts
  docs/src/guide/introduction/thin.md
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/styles/src/antd/index.css
  scripts/deploy/Dockerfile
  scripts/deploy/build-local-docker-image.sh
  scripts/deploy/nginx.conf
Labels: enhancement

#4423 fix: improve layout boundary processing
  .github/workflows/ci.yml
  docs/.vitepress/config/shared.mts
  docs/.vitepress/theme/index.ts
  docs/package.json
  docs/src/guide/introduction/quick-start.md
  internal/lint-configs/eslint-config/package.json
  internal/tailwind-config/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
  pnpm-lock.yaml
Labels: bug

#4425 fix: the onOpenChange event for the modal component does not work as expected
  internal/vite-config/src/config/application.ts
  packages/@core/ui-kit/popup-ui/src/drawer/use-drawer.ts
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
Labels: bug

#4426 fix: fixed the form component componentProps using the function that did not meet expectations
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  packages/@core/ui-kit/form-ui/src/form-render/form.vue
Labels: bug

#4409 fix: hover border style same as antd style when validate error
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Labels: perf

#4437 chore: use pnpm catalog
  apps/backend-mock/package.json
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/prettier-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/node-utils/package.json
  internal/tailwind-config/package.json
  internal/tsconfig/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/form-ui/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/popup-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/access/package.json
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/captcha/point-selection-captcha.vue
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/effects/plugins/package.json
  packages/effects/request/package.json
  packages/locales/package.json
  packages/stores/package.json
  packages/types/package.json
  packages/utils/package.json
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/turbo-run/package.json
  scripts/vsh/package.json
Labels: enhancement

#4438 fix: improve the scroll bar flashing when the modal box is opened
  packages/@core/base/shared/src/utils/dom.ts
  packages/@core/composables/src/use-scroll-lock.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/__tests__/config.test.ts
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/tsconfig.json
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/@core/ui-kit/form-ui/tsconfig.json
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/form/api.vue
  playground/src/views/examples/form/basic.vue
  playground/src/views/examples/form/custom.vue
  playground/src/views/examples/form/dynamic.vue
  playground/src/views/examples/form/query.vue
  playground/src/views/examples/form/rules.vue
Labels: bug

#4440 fix: when the api returns 401, the page is refreshed not as expected
  apps/web-antd/src/store/auth.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/store/auth.ts
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  docs/src/components/introduction.md
  playground/src/store/auth.ts
Labels: bug

#4448 fix: update fetch URL to use BASE_URL for version tag retrieval
  packages/effects/layouts/src/widgets/check-updates/check-updates.vue
Labels: bug

#4452 fix: form verification style fails in pop-up window
  packages/styles/src/antd/index.css
Labels: bug

#4453 feat: add updateSchema to form api
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  playground/src/views/examples/form/api.vue
Labels: feature

#4454 fix: improve defineConfig types
  internal/vite-config/src/typing.ts
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
Labels: bug

#4455 fix: improve global type detection of vue files
  internal/lint-configs/eslint-config/src/configs/javascript.ts
  internal/lint-configs/eslint-config/src/configs/vue.ts
  packages/effects/common-ui/src/ui/about/about.vue
Labels: bug

#4458 fix: some antd components failed to verify styles
  packages/styles/src/antd/index.css
  playground/src/views/examples/form/rules.vue
Labels: bug

#4390 chore(@vben/common-ui): add verify component
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/.vitepress/config/shared.mts
  docs/src/commercial/community.md
  docs/src/commercial/customized.md
  docs/src/en/guide/essentials/settings.md
  docs/src/en/index.md
  docs/src/friend-links/index.md
  docs/src/guide/essentials/settings.md
  docs/src/index.md
  docs/src/sponsor/personal.md
  internal/vite-config/src/options.ts
  packages/@core/base/icons/src/lucide.ts
  packages/@core/base/shared/src/constants/vben.ts
  packages/@core/preferences/__tests__/__snapshots__/config.test.ts.snap
  packages/@core/preferences/src/config.ts
  packages/@core/ui-kit/shadcn-ui/src/components/spine-text/spine-text.vue
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/captcha/index.ts
  packages/effects/common-ui/src/components/captcha/point-selection-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/point-selection-captcha/point-selection-captcha-card.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/slider-captcha-action.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/slider-captcha-bar.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/slider-captcha-content.vue
  packages/effects/common-ui/src/components/captcha/slider-rotate-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/types.ts
  packages/effects/common-ui/src/components/captcha/utils.ts
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/captcha/base64.ts
  playground/src/views/examples/captcha/point-selection-captcha.vue
  playground/src/views/examples/captcha/slider-captcha.vue
  playground/src/views/examples/captcha/slider-rotate-captcha.vue
  pnpm-lock.yaml
Labels: feature

#4461 feat: add sliding verification to the login form
  apps/web-antd/src/views/_core/authentication/login.vue
  apps/web-ele/src/views/_core/authentication/login.vue
  apps/web-naive/src/adapter/index.ts
  apps/web-naive/src/adapter/naive.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/router/access.ts
  apps/web-naive/src/store/auth.ts
  apps/web-naive/src/views/_core/authentication/login.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectTrigger.vue
  packages/effects/common-ui/src/components/captcha/slider-captcha/index.vue
  packages/effects/common-ui/src/components/captcha/slider-rotate-captcha/index.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
  playground/src/views/_core/authentication/login.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: feature

#4468 feat: add playwright e2e testing framework
  .gitpod.yml
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/src/en/guide/essentials/development.md
  docs/src/guide/essentials/development.md
  internal/lint-configs/eslint-config/src/configs/node.ts
  internal/lint-configs/eslint-config/src/custom-config.ts
  package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/effects/common-ui/src/components/captcha/slider-captcha/slider-captcha-action.vue
  packages/effects/common-ui/src/ui/authentication/forget-password.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  playground/__tests__/e2e/auth-login.spec.ts
  playground/__tests__/e2e/common/auth.ts
  playground/package.json
  playground/playwright.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  vitest.config.ts
Labels: chore

#4481 fix: after deleting the form item, you will also get the form value
  README.ja-JP.md
  README.md
  README.zh-CN.md
  apps/web-antd/src/api/request.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/request.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
  playground/src/api/request.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: bug

#4490 chore(@vben/playground): add new slider captcha element and adjust references
  playground/src/views/examples/captcha/slider-captcha.vue
Labels: bug

#4499 fix(docs): fix the selected state of the top navigation bar
  docs/.vitepress/config/en.mts
  docs/.vitepress/config/zh.mts
  docs/.vitepress/theme/styles/base.css
Labels: documentation

#4508 perf: setValues method of the form supports assigning values only to keys that exist in the schema
  docs/src/components/common-ui/vben-form.md
  packages/@core/ui-kit/form-ui/src/form-api.ts
Labels: perf

#4503 fix: stripe table style for element plus, fixed: #4501
  apps/web-ele/src/views/demos/element/index.vue
  internal/tailwind-config/src/index.ts
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/effects/hooks/src/use-design-tokens.ts
Labels: bug

#4495 feat(form): add merge form functionality
  packages/@core/ui-kit/form-ui/src/form-api.ts
  packages/effects/common-ui/src/components/captcha/hooks/useCaptchaPoints.ts
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/examples.ts
  playground/src/views/examples/form/merge.vue
Labels: feature

#4510 chore: update documentation and deps
  .github/workflows/build.yml
  .github/workflows/changeset-version.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/draft.yml
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/lock.yml
  .github/workflows/release-tag.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/stale.yml
  apps/web-antd/src/api/core/auth.ts
  apps/web-antd/src/api/request.ts
  apps/web-ele/src/api/core/auth.ts
  apps/web-ele/src/api/request.ts
  apps/web-naive/src/api/core/auth.ts
  apps/web-naive/src/api/request.ts
  docs/src/en/guide/essentials/server.md
  docs/src/en/guide/in-depth/login.md
  docs/src/guide/essentials/server.md
  docs/src/guide/in-depth/login.md
  docs/src/guide/introduction/thin.md
  package.json
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/src/preferences.ts
  packages/effects/common-ui/src/components/captcha/slider-captcha/index.vue
  playground/src/api/core/auth.ts
  playground/src/api/request.ts
  playground/src/preferences.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: chore

#4513 fix: window system clean script execution problems
  docs/src/en/guide/essentials/development.md
  docs/src/en/guide/project/cli.md
  docs/src/guide/essentials/development.md
  docs/src/guide/project/cli.md
  internal/lint-configs/eslint-config/src/custom-config.ts
  package.json
  packages/@core/preferences/__tests__/preferences.test.ts
  packages/@core/preferences/src/preferences.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/clean.mjs
  scripts/vsh/src/clean/index.ts
  scripts/vsh/src/index.ts
Labels: bug

#4519 fix: improve input browser backfilling style
  packages/@core/base/design/src/css/global.css
Labels: bug

#4521 fix: when modal and drawer exist at the same time, click Close All
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
Labels: bug

#4522 feat: add pagination component
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/shadcn-ui/src/components/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/pagination/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/pagination/pagination.ts
  packages/@core/ui-kit/shadcn-ui/src/components/pagination/pagination.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/accordion/AccordionTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/breadcrumb/BreadcrumbEllipsis.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/breadcrumb/BreadcrumbSeparator.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/button/Button.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/checkbox/Checkbox.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/context-menu/ContextMenuCheckboxItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/context-menu/ContextMenuRadioItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/context-menu/ContextMenuSubTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogScrollContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuCheckboxItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuRadioItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dropdown-menu/DropdownMenuSubTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationEllipsis.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationFirst.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationLast.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationNext.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/PaginationPrev.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pagination/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/pin-input/PinInputSeparator.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/radio-group/RadioGroupItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectItem.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectScrollDownButton.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectScrollUpButton.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/select/SelectTrigger.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toast/ToastClose.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: feature

#4483 perf(@vben/stores): export defineStore to support pinia persistence within apps
  packages/stores/src/index.ts
Labels: perf

#4546 fix: fix abnormal display of scroll bar on lock screen page
  packages/@core/composables/src/use-scroll-lock.ts
  packages/effects/layouts/package.json
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  pnpm-lock.yaml
Labels: bug

#4547 chore: disable sorting of non-core folder object fields
  internal/lint-configs/eslint-config/src/custom-config.ts
  packages/@core/base/shared/src/utils/__tests__/util.test.ts
  packages/@core/base/shared/src/utils/merge.ts
  packages/@core/base/shared/src/utils/util.ts
  packages/@core/ui-kit/form-ui/__tests__/form-api.test.ts
  packages/@core/ui-kit/form-ui/src/form-api.ts
Labels: chore

#4548 fix: when multiple pop-ups exist at the same time, clicking will close all
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogOverlay.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetOverlay.vue
Labels: bug

#4549 chore: demo of customizing form layout using tailwind
  playground/src/views/examples/form/basic.vue
Labels: chore
