Repository vbenjs/vue-vben-admin, pull requests merged in 2024-12, with the labels that each got.

#4965 fix: form 表单不支持field.xxx.xx格式的defaultValue配置
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/ui-kit/form-ui/src/use-form-context.ts
  playground/src/views/examples/form/basic.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: bug

#4993 chore: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: chore

#5005 feat: form component `IconPicker`
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  docs/src/components/common-ui/vben-form.md
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
  packages/locales/src/langs/en-US/ui.json
  packages/locales/src/langs/zh-CN/ui.json
  playground/src/adapter/component/index.ts
  playground/src/views/demos/features/icons/icon-picker.vue
  playground/src/views/demos/features/icons/icons.data.ts
  playground/src/views/demos/features/icons/index.vue
  playground/src/views/examples/form/basic.vue
Labels: feature

#5024 feat: add api-select component
  apps/web-antd/src/adapter/component/index.ts
  apps/web-ele/src/adapter/component/index.ts
  apps/web-naive/src/adapter/component/index.ts
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/utils/index.ts
  packages/effects/common-ui/src/components/api-select/api-select.vue
  packages/effects/common-ui/src/components/api-select/index.ts
  packages/effects/common-ui/src/components/index.ts
  playground/src/adapter/component/index.ts
  playground/src/views/examples/form/basic.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: feature

#5172 fix: 解决eslint错误以及ts类型错误
  internal/lint-configs/eslint-config/src/configs/vue.ts
  internal/vite-config/src/config/application.ts
Labels: bug

#5169 docs: fix typos
  docs/src/guide/in-depth/ui-framework.md
Labels: documentation

#5160 fix: remove the overlap caused by border-b
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-project.vue
  packages/effects/common-ui/src/ui/dashboard/workbench/workbench-quick-nav.vue
Labels: bug

#5199 fix: build error
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: bug
