Repository vbenjs/vue-vben-admin, pull requests merged in 2024-11, with the labels that each got.

#4832 feat: add icon-picker component
  packages/@core/base/icons/src/index.ts
  packages/@core/base/icons/src/lucide.ts
  packages/@core/ui-kit/shadcn-ui/src/components/button/icon-button.vue
  packages/effects/common-ui/package.json
  packages/effects/common-ui/src/components/icon-picker/icon-picker.vue
  packages/effects/common-ui/src/components/icon-picker/index.ts
  packages/effects/common-ui/src/components/index.ts
  packages/effects/hooks/src/index.ts
  packages/effects/hooks/src/use-pagination.ts
  playground/src/views/demos/features/icons/icon-picker.vue
  playground/src/views/demos/features/icons/icons.data.ts
  playground/src/views/demos/features/icons/index.vue
  pnpm-lock.yaml
Labels: needs review

#4871 fix: drawer console warning
  packages/@core/base/shared/src/utils/download.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/effects/plugins/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: bug

#4889 fix: correct grid styling issue
  docs/.vitepress/config/en.mts
  docs/.vitepress/config/zh.mts
  packages/effects/plugins/src/vxe-table/style.css
  packages/effects/plugins/src/vxe-table/use-vxe-grid.vue
Labels: bug

#4890 fix: resolve onChange issue in form component
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
Labels: bug

#4896 fix: adjust `useWatermark` logic
  packages/effects/hooks/src/use-watermark.ts
  playground/src/views/demos/features/watermark/index.vue
Labels: bug

#4907 feat: add 3 resize examples
  playground/src/views/examples/resize/basic.vue
Labels: feature

#4916 fix: resolve issue with Upload component not working correctly inside Form
  internal/lint-configs/eslint-config/src/configs/unicorn.ts
  package.json
  packages/@core/ui-kit/form-ui/src/form-render/form-field.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: bug

#4943 fix: supplement datepicker component
  apps/web-ele/src/adapter/component/index.ts
  package.json
  packages/@core/base/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: bug

#4947 fix: the route path did not synchronize with the page
  playground/src/router/routes/modules/demos.ts
Labels: bug

#4961 feat: upgrade vite version to 6.0.0
  packages/@core/base/design/package.json
  packages/@core/ui-kit/shadcn-ui/src/components/spine-text/spine-text.vue
  packages/effects/common-ui/src/components/ellipsis-text/__tests__/ellipsis-text.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: feature

#4969 chore: tailwind css icon example
  playground/src/views/demos/features/icons/index.vue
Labels: chore

#4986 chore: update deprecated document link in .github/ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: documentation
