Repository vbenjs/vue-vben-admin, pull requests merged in 2024-08, with the labels that each got.

#3992 feat: 1.ApiSelect增加远程搜索功能 2.ApiSelect设定懒加载时允许控制空搜索时不查询 3.增加下拉远程搜索Json版本demo
  src/components/Form/src/components/ApiSelect.vue
  src/views/demo/form/index.vue
Labels: v2

#4052 fix: The projectSettings default dark mode is not taking effect in version 2
  src/store/modules/app.ts
Labels: v2

#4039 feat: add support for custom slot header-index, sorted by index
  packages/effects/layouts/src/basic/README.md
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
Labels: enhancement

#4046 ci: update action
  .github/actions/setup-node/action.yml
  .github/workflows/build.yml
  .github/workflows/changeset-version.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/draft.yml
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/lock.yml
  .github/workflows/release-tag.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/stale.yml
  .node-version
  internal/lint-configs/commitlint-config/index.mjs
Labels: chore

#4066 fix: ci build failed
  .github/workflows/build.yml
  package.json
Labels: bug

#4041 fix: naive组件库 主题适配报错，需将hsl转换为rgb格式
  apps/web-naive/src/locales/langs/en-US.json
  apps/web-naive/src/locales/langs/zh-CN.json
  apps/web-naive/src/router/routes/modules/demos.ts
  apps/web-naive/src/views/demos/table/index.vue
  packages/@core/base/shared/src/colorful/convert.ts
  packages/effects/hooks/src/use-design-tokens.ts
Labels: bug

#4065 feat: `api` suffix to all api function names
  apps/web-antd/src/api/core/auth.ts
  apps/web-antd/src/api/core/menu.ts
  apps/web-antd/src/api/core/user.ts
  apps/web-antd/src/api/demos/status.ts
  apps/web-antd/src/router/access.ts
  apps/web-antd/src/store/auth.ts
  apps/web-antd/src/views/demos/features/login-expired/index.vue
  apps/web-ele/src/api/core/auth.ts
  apps/web-ele/src/api/core/menu.ts
  apps/web-ele/src/api/core/user.ts
  apps/web-ele/src/router/access.ts
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/api/core/auth.ts
  apps/web-naive/src/api/core/menu.ts
  apps/web-naive/src/api/core/user.ts
  apps/web-naive/src/router/access.ts
  apps/web-naive/src/store/auth.ts
  docs/src/guide/essentials/server.md
Labels: chore

#4070 refactor: use @ant-design/fast-color instead
  packages/@core/base/shared/build.config.ts
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/color/convert.test.ts
  packages/@core/base/shared/src/color/convert.ts
  packages/@core/base/shared/src/color/generator.ts
  packages/@core/base/shared/src/color/index.ts
  packages/@core/base/shared/src/colorful/convert.ts
  packages/@core/base/shared/src/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/menu-badge/menu-badge.vue
  packages/effects/hooks/src/use-design-tokens.ts
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/utils/src/index.ts
  pnpm-lock.yaml
Labels: dependencies

#4073 fix: the failure of breadcrumb animation
  .github/workflows/draft.yml
  .vscode/settings.json
  docs/src/guide/essentials/build.md
  internal/tsconfig/base.json
  packages/@core/base/design/src/css/ui.css
  packages/@core/base/design/src/index.ts
  packages/@core/ui-kit/shadcn-ui/src/index.ts
  scripts/vsh/src/check-dep/index.ts
Labels: bug

#4074 chore(deps): bump the non-breaking-changes group with 10 updates
  .github/workflows/draft.yml
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  internal/lint-configs/commitlint-config/package.json
  internal/lint-configs/eslint-config/package.json
  internal/lint-configs/stylelint-config/package.json
  internal/tailwind-config/package.json
  internal/vite-config/package.json
  package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/access/package.json
  packages/effects/chart-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/locales/package.json
  packages/stores/package.json
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies

#4028 docs: add Japanese README
  README.ja-JP.md
  README.md
  README.zh-CN.md
Labels: documentation

#4077 chore: switch back to `@ctrl/tinycolor`
  packages/@core/base/shared/package.json
  packages/@core/base/shared/src/color/convert.test.ts
  packages/@core/base/shared/src/color/convert.ts
  packages/@core/base/shared/src/color/generator.ts
  packages/effects/layouts/src/widgets/preferences/blocks/theme/builtin.vue
  packages/effects/layouts/src/widgets/preferences/preferences-sheet.vue
  pnpm-lock.yaml
Labels: chore

#4089 fix: menu-badge color not correct
  packages/@core/base/shared/src/color/convert.test.ts
  packages/@core/base/shared/src/color/convert.ts
  packages/@core/ui-kit/shadcn-ui/src/components/menu-badge/menu-badge.vue
Labels: bug

#4019 chore: define examples router & add ellipsis comp
  apps/web-antd/src/locales/langs/en-US.json
  apps/web-antd/src/locales/langs/zh-CN.json
  apps/web-antd/src/router/routes/modules/examples.ts
  apps/web-antd/src/views/examples/ellipsis/data.ts
  apps/web-antd/src/views/examples/ellipsis/index.vue
  packages/@core/ui-kit/shadcn-ui/src/components/tooltip/tooltip.vue
  packages/effects/common-ui/src/ellipsis-text/ellipsis-text.vue
  packages/effects/common-ui/src/ellipsis-text/index.ts
  packages/effects/common-ui/src/index.ts
Labels: feature

#4099 perf: correct cloneDeep spelling errors
  packages/@core/base/shared/src/utils/index.ts
  packages/effects/access/src/accessible.ts
Labels: chore

#4101 chore: update eslint configuration and adjust docker command
  .vscode/settings.json
  Dockerfile
  internal/lint-configs/eslint-config/src/custom-config.ts
  nginx.conf
Labels: chore

#4102 fix: when borderRaidus is a string, the component displays an exception
  packages/effects/hooks/src/use-design-tokens.ts
Labels: bug

#4105 fix: inconsistent performance between breadcrumbs and tabs
  .github/release-drafter.yml
  docs/.vitepress/theme/plugins/hm.ts
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb.vue
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
Labels: bug

#4106 fix: 修复vben/styles/global 全局注入的问题
  internal/vite-config/src/config/application.ts
Labels: bug

#4109 fix: tabsToolMore 无法在新窗口打开 (#4107)
  packages/stores/src/modules/tabbar.ts
Labels: bug

#4110 fix: use correct route data in tabbar, fixed: #4107
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
Labels: bug

#4083 fix: remove duplicate code
  packages/effects/layouts/src/authentication/authentication.vue
Labels: perf

#4115 fix: missing route data in guard, fixed: #4108
  apps/web-antd/src/router/guard.ts
Labels: bug

#4119 feat: support vue file unit testing, add some components unit testing
  .github/workflows/deploy.yml
  package.json
  packages/@core/ui-kit/shadcn-ui/src/components/alert-dialog/alert-dialog.vue
  packages/@core/ui-kit/shadcn-ui/src/components/avatar/avatar.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/button/button.vue
  packages/@core/ui-kit/shadcn-ui/src/components/button/icon-button.vue
  packages/@core/ui-kit/shadcn-ui/src/components/checkbox/checkbox.vue
  packages/@core/ui-kit/shadcn-ui/src/components/context-menu/context-menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/dropdown-menu/dropdown-menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/dropdown-menu/dropdown-radio-menu.vue
  packages/@core/ui-kit/shadcn-ui/src/components/hover-card/hover-card.vue
  packages/@core/ui-kit/shadcn-ui/src/components/input-password/input-password.vue
  packages/@core/ui-kit/shadcn-ui/src/components/input/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/input/input.vue
  packages/@core/ui-kit/shadcn-ui/src/components/input/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/pin-input/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/pin-input/input.vue
  packages/@core/ui-kit/shadcn-ui/src/components/pin-input/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/popover/popover.vue
  packages/@core/ui-kit/shadcn-ui/src/components/scrollbar/scrollbar.vue
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/segmented.vue
  packages/@core/ui-kit/shadcn-ui/src/components/segmented/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/sheet/sheet.vue
  packages/@core/ui-kit/shadcn-ui/src/components/tooltip/tooltip.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/AlertDialogAction.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/alert-dialog/AlertDialogCancel.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toggle-group/ToggleGroup.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/toggle-group/ToggleGroupItem.vue
  packages/effects/common-ui/src/components/ellipsis-text/__tests__/ellipsis-text.test.ts
  packages/effects/common-ui/src/components/ellipsis-text/ellipsis-text.vue
  packages/effects/common-ui/src/components/page/__tests__/page.test.ts
  packages/effects/common-ui/src/components/page/page-footer.vue
  packages/effects/common-ui/src/components/page/page-header.vue
  packages/effects/common-ui/src/components/page/page.ts
  packages/effects/common-ui/src/components/page/page.vue
  packages/effects/common-ui/src/ui/authentication/code-login.vue
  packages/effects/common-ui/src/ui/authentication/index.ts
  packages/effects/common-ui/src/ui/authentication/login-expired-modal.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/common-ui/src/ui/authentication/register.vue
  packages/effects/common-ui/src/ui/authentication/types.ts
  packages/effects/layouts/src/widgets/lock-screen/lock-screen-modal.vue
  packages/effects/layouts/src/widgets/lock-screen/typings.ts
  playground/src/views/demos/access/admin-visible.vue
  playground/src/views/demos/access/super-visible.vue
  playground/src/views/demos/access/user-visible.vue
  pnpm-lock.yaml
  vitest.config.ts
Labels: feature

#4130 perf: optimize the diffPreferences logic and adjust the unit test
  docs/src/commercial/community.md
  internal/vite-config/src/options.ts
  internal/vite-config/src/plugins/importmap.ts
  internal/vite-config/src/plugins/inject-metadata.ts
  internal/vite-config/src/utils/env.ts
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/base/shared/src/utils/diff.test.ts
  packages/@core/base/shared/src/utils/diff.ts
  packages/effects/common-ui/src/components/page/__tests__/page.test.ts
  packages/effects/common-ui/src/components/page/page.vue
Labels: perf

#4133 chore(@vben/playground): 增加剪切板示例
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/demos.ts
  playground/src/views/demos/features/clipboard/index.vue
Labels: feature

#4126 feat(@vben/playground): add full-screen examples
  playground/src/locales/langs/en-US.json
  playground/src/locales/langs/zh-CN.json
  playground/src/router/routes/modules/demos.ts
  playground/src/router/routes/modules/examples.ts
  playground/src/views/demos/features/full-screen/index.vue
Labels: feature

#4136 fix: tab close by key, fixed: #4132
  packages/stores/src/modules/tabbar.ts
Labels: bug

#4142 perf: improve login page UI
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/.vitepress/config.mts
  docs/src/commercial/community.md
  docs/src/commercial/customized.md
  docs/src/en/index.md
  docs/src/friend-links/index.md
  docs/src/guide/essentials/settings.md
  docs/src/guide/in-depth/theme.md
  docs/src/index.md
  docs/src/sponsor/personal.md
  internal/tailwind-config/src/index.ts
  internal/vite-config/src/options.ts
  packages/@core/base/design/src/css/global.css
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/base/icons/src/lucide.ts
  packages/@core/base/shared/src/constants/vben.ts
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/constants.ts
  packages/@core/ui-kit/shadcn-ui/src/components/back-top/back-top.vue
  packages/@core/ui-kit/shadcn-ui/src/components/input/input.vue
  packages/effects/layouts/src/authentication/authentication.vue
  packages/effects/layouts/src/widgets/preferences/preferences-sheet.vue
  packages/effects/layouts/src/widgets/preferences/preferences.vue
  playground/src/views/demos/features/tabs/index.vue
Labels: perf

#4143 perf: staticRoutes is renamed externalRoutes
  apps/web-antd/src/router/routes/index.ts
  apps/web-ele/src/router/routes/index.ts
  apps/web-naive/src/router/routes/index.ts
  internal/vite-config/src/plugins/inject-app-loading/default-loading.html
  packages/effects/layouts/src/authentication/authentication.vue
  playground/src/router/routes/index.ts
Labels: perf

#4144 fix: some icons behave inconsistently on menu and tab
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
Labels: bug

#4146 fix: the translation is incorrect when switching languages for the first time
  packages/locales/src/i18n.ts
  packages/locales/src/index.ts
Labels: bug

#4154 feat: supports specifying the position of the preference button
  docs/src/guide/essentials/settings.md
  packages/@core/base/icons/src/lucide.ts
  packages/@core/base/typings/src/app.d.ts
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/tabbar.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/effects/layouts/src/widgets/preferences/index.ts
  packages/effects/layouts/src/widgets/preferences/preferences-button.vue
  packages/effects/layouts/src/widgets/preferences/preferences-sheet.vue
  packages/effects/layouts/src/widgets/preferences/preferences.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
Labels: feature

#4162 feat: add left and right scroll buttons to Tabs bar #4161
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/layouts/package.json
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  packages/effects/layouts/src/basic/tabbar/use-tab-view-scroll.ts
  pnpm-lock.yaml
Labels: feature

#4164 perf: improve tabs-view scrolling
  .github/release-drafter.yml
  packages/@core/base/icons/src/lucide.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
  packages/@core/ui-kit/tabs-ui/src/use-tabs-view-scroll.ts
  packages/effects/layouts/package.json
  packages/effects/layouts/src/basic/tabbar/tabbar.vue
  pnpm-lock.yaml
Labels: perf

#4170 fix: header theme color error
  .npmrc
  README.ja-JP.md
  README.md
  README.zh-CN.md
  package.json
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/stores/src/modules/tabbar.test.ts
  packages/stores/src/modules/tabbar.ts
  pnpm-lock.yaml
Labels: bug

#4173 perf: all icons used in the core are offline
  apps/web-antd/src/router/routes/modules/vben.ts
  apps/web-antd/src/views/_core/about/index.vue
  apps/web-ele/src/router/routes/modules/vben.ts
  apps/web-ele/src/views/_core/about/index.vue
  apps/web-naive/src/router/routes/modules/vben.ts
  apps/web-naive/src/views/_core/about/index.vue
  docs/package.json
  docs/src/guide/essentials/route.md
  internal/tailwind-config/package.json
  package.json
  packages/@core/base/icons/src/create-icon.ts
  packages/@core/base/icons/src/index.ts
  packages/@core/base/icons/src/lucide.ts
  packages/@core/base/icons/src/mdi.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-content.vue
  packages/@core/ui-kit/layout-ui/src/components/widgets/sidebar-collapse-button.vue
  packages/@core/ui-kit/layout-ui/src/components/widgets/sidebar-fixed-button.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/shadcn-ui/src/components/scrollbar/scrollbar.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
  packages/@core/ui-kit/tabs-ui/src/use-tabs-drag.ts
  packages/effects/layouts/src/basic/tabbar/use-tabbar.ts
  packages/icons/src/iconify/index.ts
  packages/locales/package.json
  playground/src/router/routes/modules/vben.ts
  playground/src/views/_core/about/index.vue
  playground/src/views/examples/ellipsis/index.vue
  pnpm-lock.yaml
Labels: perf

#4184 chore: update deps and docs
  .github/workflows/deploy.yml
  README.ja-JP.md
  README.md
  README.zh-CN.md
  apps/backend-mock/package.json
  apps/web-antd/package.json
  apps/web-ele/package.json
  apps/web-naive/package.json
  docs/package.json
  docs/src/guide/essentials/development.md
  docs/src/guide/introduction/thin.md
  internal/vite-config/src/plugins/nitro-mock.ts
  package.json
  packages/@core/base/icons/package.json
  packages/@core/base/shared/package.json
  packages/@core/base/typings/package.json
  packages/@core/composables/package.json
  packages/@core/preferences/package.json
  packages/@core/ui-kit/layout-ui/package.json
  packages/@core/ui-kit/menu-ui/package.json
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu.vue
  packages/@core/ui-kit/shadcn-ui/package.json
  packages/@core/ui-kit/tabs-ui/package.json
  packages/effects/access/package.json
  packages/effects/chart-ui/package.json
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  packages/effects/layouts/package.json
  packages/locales/package.json
  packages/stores/package.json
  packages/types/package.json
  playground/package.json
  pnpm-lock.yaml
Labels: perf

#4157 feat: refactor and improve the request client and support refreshToken
  apps/backend-mock/.env
  apps/backend-mock/README.md
  apps/backend-mock/api/auth/codes.ts
  apps/backend-mock/api/auth/login.post.ts
  apps/backend-mock/api/auth/logout.post.ts
  apps/backend-mock/api/auth/refresh.post.ts
  apps/backend-mock/api/menu/all.ts
  apps/backend-mock/api/user/info.ts
  apps/backend-mock/middleware/1.api.ts
  apps/backend-mock/package.json
  apps/backend-mock/utils/cookie-utils.ts
  apps/backend-mock/utils/jwt-utils.ts
  apps/backend-mock/utils/mock-data.ts
  apps/backend-mock/utils/response.ts
  apps/web-antd/src/api/core/auth.ts
  apps/web-antd/src/api/request.ts
  apps/web-antd/src/layouts/basic.vue
  apps/web-antd/src/store/auth.ts
  apps/web-ele/src/api/core/auth.ts
  apps/web-ele/src/api/request.ts
  apps/web-ele/src/layouts/basic.vue
  apps/web-ele/src/store/auth.ts
  apps/web-naive/src/api/core/auth.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/layouts/basic.vue
  apps/web-naive/src/store/auth.ts
  docs/src/guide/essentials/server.md
  docs/src/guide/essentials/settings.md
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/types.ts
  packages/effects/request/src/request-client/index.ts
  packages/effects/request/src/request-client/modules/interceptor.ts
  packages/effects/request/src/request-client/preset-interceptors.ts
  packages/effects/request/src/request-client/request-client.ts
  packages/effects/request/src/request-client/types.ts
  playground/src/api/core/auth.ts
  playground/src/api/request.ts
  playground/src/layouts/basic.vue
  playground/src/store/auth.ts
  pnpm-lock.yaml
Labels: feature

#4194 fix: fix keepAlive parameter error
  apps/backend-mock/utils/jwt-utils.ts
  docs/src/guide/introduction/thin.md
  packages/@core/base/design/src/design-tokens/dark/index.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/base/shared/src/utils/index.ts
  packages/@core/base/shared/src/utils/to.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-header.vue
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/menu-ui/src/components/menu-item.vue
  packages/@core/ui-kit/menu-ui/src/components/menu.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu-content.vue
  packages/@core/ui-kit/menu-ui/src/components/sub-menu.vue
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu-context.ts
  packages/@core/ui-kit/menu-ui/src/hooks/use-menu.ts
  packages/@core/ui-kit/menu-ui/src/index.ts
  packages/@core/ui-kit/menu-ui/src/menu.vue
  packages/@core/ui-kit/menu-ui/src/types.ts
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/hooks/src/use-design-tokens.ts
  packages/stores/src/modules/tabbar.ts
  packages/styles/src/antd/index.css
  playground/.env
Labels: bug

#4082 style: element-plus theme info adaptation
  packages/effects/hooks/src/use-design-tokens.ts
Labels: bug

#4203 fix: element-plus styles
  apps/web-ele/src/bootstrap.ts
  packages/effects/hooks/src/use-design-tokens.ts
  packages/styles/package.json
  packages/styles/src/ele/index.css
Labels: bug

#4204 fix: where pages could not be refreshed when login expired
  apps/backend-mock/utils/jwt-utils.ts
  apps/web-antd/src/api/request.ts
  apps/web-antd/src/router/guard.ts
  apps/web-ele/src/api/request.ts
  apps/web-ele/src/router/guard.ts
  apps/web-naive/src/api/request.ts
  apps/web-naive/src/router/guard.ts
  docs/src/guide/essentials/server.md
  packages/@core/preferences/src/config.ts
  packages/stores/src/modules/access.ts
  playground/src/api/request.ts
  playground/src/router/guard.ts
Labels: bug

#4207 fix: 忽略vscode history插件目录git提交
  .gitignore
Labels: chore

#4205 fix: switching language does not load the translation of the components library
  apps/web-antd/src/locales/index.ts
  apps/web-ele/src/locales/index.ts
  apps/web-naive/src/locales/index.ts
  packages/locales/src/i18n.ts
  playground/src/locales/index.ts
Labels: bug

#4209 chore: error note
  packages/@core/ui-kit/tabs-ui/src/tabs-view.vue
Labels: chore

#4216 chore(docs): correct the naming convention typo in the test files
  docs/src/guide/project/test.md
Labels: documentation

#4192 chore(docs): updated title slot description
  packages/effects/layouts/src/basic/README.md
Labels: documentation

#4210 chore: update vscode configuration
  .vscode/settings.json
Labels: chore

#4215 chore(docs): update function parameter comments
  docs/src/guide/essentials/route.md
  packages/@core/base/typings/src/vue-router.d.ts
  packages/effects/access/src/accessible.ts
  playground/src/store/auth.ts
Labels: documentation

#4219 perf: home page analysis card adjusted to grid layout
  packages/effects/common-ui/src/ui/dashboard/analysis/analysis-overview.vue
Labels: perf

#4224 fix: correct the SVG icon format
  packages/icons/src/svg/load.ts
Labels: bug

#4227 chore: typos
  packages/effects/layouts/src/authentication/authentication.vue
Labels: chore

#4231 fix: when the 'refreshToken' expires, it does not re-authenticate
  packages/effects/request/src/request-client/preset-interceptors.ts
Labels: bug

#4232 chore: fix typo
  packages/@core/composables/src/use-priority-value.ts
Labels: chore

#4233 fix: ease-out
  packages/effects/layouts/src/widgets/color-toggle.vue
Labels: bug

#4236 fix(apps/backend-mock): change deprecated func
  apps/backend-mock/error.ts
Labels: perf

#4237 fix: improve the display of modal and drawer on mobile
  .vscode/settings.json
  packages/@core/base/design/src/css/global.css
  packages/@core/base/shared/src/utils/__tests__/dom.test.ts
  packages/@core/base/shared/src/utils/__tests__/letter.test.ts
  packages/@core/base/shared/src/utils/__tests__/unique.test.ts
  packages/@core/composables/src/index.ts
  packages/@core/composables/src/use-is-mobile.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal.ts
  packages/@core/ui-kit/shadcn-ui/src/components/ui/dialog/DialogContent.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/sheet/SheetContent.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
  packages/effects/layouts/src/widgets/preferences/preferences.vue
  packages/utils/src/helpers/get-popup-container.ts
  packages/utils/src/helpers/index.ts
  vitest.workspace.ts
Labels: bug

#4241 fix: sidebar scrolling does not meet expectations
  packages/@core/composables/src/use-content-style.ts
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Labels: bug

#4242 fix: tabbar does not meet expectations in a mixed layout
  docs/src/en/guide/in-depth/access.md
  docs/src/guide/in-depth/access.md
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/tabs-ui/src/use-tabs-view-scroll.ts
Labels: bug

#4243 feat: preference button supports automatic positioning
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  packages/@core/base/typings/src/app.d.ts
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/use-preferences.ts
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/global-search/global-search.vue
  packages/effects/layouts/src/widgets/preferences/blocks/layout/widget.vue
  packages/locales/src/langs/en-US.json
  packages/locales/src/langs/zh-CN.json
Labels: feature

#4246 perf: optimize the access directive to support string passing.
  docs/src/en/guide/in-depth/access.md
  docs/src/guide/in-depth/access.md
  packages/effects/access/src/directive.ts
Labels: perf

#4249 fix: search and menu buttons overlapped
  packages/effects/layouts/src/basic/layout.vue
Labels: bug

#4253 fix: clearPreferencesAndLogout does not take effect when the preferences button is at the top
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/effects/layouts/src/basic/header/header.vue
  packages/effects/layouts/src/basic/layout.vue
  packages/effects/layouts/src/widgets/preferences/preferences-button.vue
  packages/effects/layouts/src/widgets/preferences/preferences-drawer.vue
Labels: bug

#4254 chore(docs): correct the file path in the markdown for the GitHub website
  docs/.vitepress/config/en.mts
  docs/.vitepress/config/zh.mts
Labels: chore

#4258 fix: replace deprecated @keypress with @keydown for Enter key handling
  packages/effects/common-ui/src/ui/authentication/login.vue
Labels: perf

#4261 fix: fix modal position after drag to prevent offset on reopen
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/popup-ui/src/modal/use-modal-draggable.ts
  playground/src/views/examples/modal/index.vue
Labels: bug

#4265 fix: solve the problem of recursive call logout api
  apps/web-antd/src/api/core/auth.ts
  apps/web-ele/src/api/core/auth.ts
  apps/web-naive/src/api/core/auth.ts
  playground/src/api/core/auth.ts
Labels: bug

#4269 perf: reset value after reopen LockScreenModal
  packages/effects/layouts/src/widgets/lock-screen/lock-screen-modal.vue
  packages/effects/layouts/src/widgets/lock-screen/lock-screen.vue
Labels: perf

#4271 fix(@vben/preferences): fix hidden header navigation bar causes the settings button to not be displayed
  packages/@core/preferences/src/use-preferences.ts
Labels: bug

#4272 feat: add archive plug-in to output dist.zip after build
  .lintstagedrc.mjs
  apps/web-antd/.env.production
  apps/web-ele/.env.production
  apps/web-naive/.env.production
  docs/.vitepress/config/shared.mts
  docs/package.json
  docs/src/components/common-ui/vben-drawer.md
  docs/src/components/common-ui/vben-modal.md
  docs/src/en/guide/essentials/settings.md
  docs/src/guide/essentials/settings.md
  internal/lint-configs/eslint-config/src/configs/perfectionist.ts
  internal/tailwind-config/src/index.ts
  internal/vite-config/package.json
  internal/vite-config/src/config/application.ts
  internal/vite-config/src/plugins/archiver.ts
  internal/vite-config/src/plugins/index.ts
  internal/vite-config/src/typing.ts
  internal/vite-config/src/utils/env.ts
  playground/.env.production
  pnpm-lock.yaml
  turbo.json
Labels: documentation, feature

#4273 feat: core components support simple locale switching
  docs/package.json
  docs/src/en/guide/in-depth/theme.md
  docs/src/guide/in-depth/theme.md
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/composables/src/index.ts
  packages/@core/composables/src/use-simple-locale/README.md
  packages/@core/composables/src/use-simple-locale/index.ts
  packages/@core/composables/src/use-simple-locale/messages.ts
  packages/@core/ui-kit/popup-ui/src/drawer/__tests__/drawer-api.test.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer-api.ts
  packages/@core/ui-kit/popup-ui/src/drawer/drawer.vue
  packages/@core/ui-kit/popup-ui/src/modal/__tests__/modal-api.test.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal-api.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/components/logo/logo.vue
  packages/locales/package.json
  packages/locales/src/i18n.ts
  pnpm-lock.yaml
Labels: documentation, feature

#4274 chore: update vscode config
  .vscode/launch.json
Labels: chore

#4277 fix(widgets/check-updates): correct button layout in English locale
  packages/effects/layouts/src/widgets/check-updates/check-updates.vue
Labels: bug

#4281 fix(login): ensure left panel element spans full width on small screens
  packages/effects/layouts/src/authentication/authentication.vue
Labels: perf

#4283 perf: axios default error interceptor allows you to customize error handling
  packages/@core/preferences/src/config.ts
  packages/@core/ui-kit/layout-ui/src/vben-layout.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/effects/layouts/src/widgets/check-updates/check-updates.vue
  packages/effects/request/src/request-client/preset-interceptors.ts
  packages/effects/request/src/request-client/types.ts
Labels: perf

#4288 style: optimize dashboard in small screen styles
  apps/web-antd/src/views/dashboard/workspace/index.vue
Labels: perf

#4289 style: optimizing style issues
  docs/src/en/guide/in-depth/theme.md
  docs/src/guide/in-depth/theme.md
  packages/@core/base/design/src/css/global.css
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/preferences/src/config.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/components/avatar/avatar.vue
  packages/@core/ui-kit/shadcn-ui/src/components/back-top/back-top.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-background.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb-view.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/breadcrumb.vue
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/index.ts
  packages/@core/ui-kit/shadcn-ui/src/components/breadcrumb/types.ts
  packages/@core/ui-kit/shadcn-ui/src/components/logo/logo.vue
  packages/@core/ui-kit/shadcn-ui/src/components/ui/card/Card.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs-chrome/tabs.vue
  packages/@core/ui-kit/tabs-ui/src/components/tabs/tabs.vue
  packages/effects/common-ui/src/ui/dashboard/analysis/analysis-charts-tabs.vue
  packages/effects/layouts/src/widgets/breadcrumb.vue
Labels: perf

#4291 fix: redundant border on the sidebar in two column layout mode
  packages/@core/ui-kit/layout-ui/src/components/layout-sidebar.vue
Labels: bug

#4293 style: optimize dashboard in small screen styles and demo
  apps/web-antd/src/views/demos/antd/index.vue
  apps/web-ele/src/views/dashboard/workspace/index.vue
  apps/web-naive/src/views/dashboard/workspace/index.vue
  playground/src/views/dashboard/workspace/index.vue
Labels: perf

#4294 refactor: refactor AuthLayout to configure the login page more freely
  apps/web-antd/src/layouts/auth.vue
  apps/web-antd/src/layouts/index.ts
  apps/web-antd/src/views/dashboard/analytics/analytics-trends.vue
  apps/web-ele/src/layouts/auth.vue
  apps/web-ele/src/layouts/index.ts
  apps/web-ele/src/views/dashboard/analytics/analytics-trends.vue
  apps/web-naive/src/layouts/auth.vue
  apps/web-naive/src/layouts/index.ts
  apps/web-naive/src/views/dashboard/analytics/analytics-trends.vue
  docs/src/en/guide/essentials/settings.md
  docs/src/en/guide/in-depth/login.md
  docs/src/en/guide/in-depth/theme.md
  docs/src/guide/essentials/settings.md
  docs/src/guide/in-depth/login.md
  docs/src/guide/in-depth/theme.md
  packages/@core/base/design/src/design-tokens/default/index.css
  packages/@core/preferences/src/config.ts
  packages/@core/preferences/src/constants.ts
  packages/@core/ui-kit/popup-ui/src/modal/modal.vue
  packages/@core/ui-kit/shadcn-ui/src/components/input-password/input-password.vue
  packages/@core/ui-kit/shadcn-ui/src/components/spinner/loading.vue
  packages/@core/ui-kit/shadcn-ui/src/components/spinner/spinner.vue
  packages/effects/common-ui/src/ui/authentication/login.vue
  packages/effects/layouts/src/authentication/authentication.vue
  packages/effects/layouts/src/authentication/form.vue
  packages/effects/layouts/src/authentication/toolbar.vue
  packages/effects/layouts/src/authentication/types.ts
  packages/effects/layouts/src/widgets/check-updates/check-updates.vue
  playground/src/layouts/auth.vue
  playground/src/layouts/index.ts
  playground/src/views/dashboard/analytics/analytics-trends.vue
Labels: enhancement
